token            = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
cloud_id         = "xxxxxxxxxxxxxxxxxxxx"
folder_id        = "xxxxxxxxxxxxxxxxxxxx"
zone             = "ru-central1-a"
public_key_path  = "~/.ssh/key_to_communicate.pub"
private_key_path = "~/.ssh/key_to_communicate"
image_id         = "xxxxxxxxxxxxxxxxxxxx"
subnet_id        = "xxxxxxxxxxxxxxxxxxxx"
